openapi: 3.0.0
info:
  title: Elpass Access Control - Card Management API
  description: |
    Elpass Card Management REST API for Access Control System integration with Hikvision and Dahua FaceID terminals.

    **Backend**: PostgREST - Automatic REST API generated from PostgreSQL

    This API allows apartment service providers to manage resident access cards with face recognition capabilities.

    ## Integration Information

    **Card Group (group field)**: Format is `{site_id}+{apartment_number}`
    - Example: `SITE001+A101`, `BUILDING_A+202`, `COMPLEX_1+UNIT_501`
    - Used to organize cards by physical location and assign access permissions

    **Card Number (no field)**: Unique UUID from apartment service provider's system
    - This is the primary identifier linking to resident in your system
    - Must be unique across the entire system
    - Example: `550e8400-e29b-41d4-a716-446655440000`

    **Validity Period**:
    - `begin_at`: Card becomes active on this date
    - `end_at`: Card expires on this date
    - Cards can be managed (enabled/disabled) independently of validity

    **Photo Management**:
    - Upload as Base64 encoded string with MIME type prefix
    - Supported formats: JPEG, PNG
    - Max size when decoded: 5MB
    - Format: `data:image/jpeg;base64,...` or `data:image/png;base64,...`

    **Readonly Fields**:
    - `isOK`: System-computed boolean - card is valid and accessible
    - `uuid`: Internal 16-character identifier generated by system

    ## PostgREST API Characteristics

    - RESTful access to PostgreSQL tables
    - Automatic filtering, ordering, and pagination
    - JSON-only responses (primary format)
    - Range/pagination via HTTP headers
    - JWT authentication support

  version: 1.0.0
  contact:
    name: Elpass Support
    email: support@elpass.io
  license:
    name: Proprietary

servers:
  - url: https://api.elpass.io
    description: Production PostgREST API
  - url: http://localhost:3000
    description: Development PostgREST API

paths:
  /el_tcards:
    post:
      summary: Create a new access card
      description: |
        Register a new resident access card with optional face photo.

        **Request body must contain all required fields**.
        The system will auto-generate `uuid` and set `created_at` timestamp.
      operationId: createCard
      tags:
        - Card Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardCreateRequest"
            examples:
              basicCard:
                summary: Basic card without photo
                value:
                  no: "550e8400-e29b-41d4-a716-446655440000"
                  name: "Ivan Petrov"
                  group: "SITE001+A101"
                  begin_at: "2025-01-15T00:00:00Z"
                  end_at: "2026-01-15T23:59:59Z"
              withPhoto:
                summary: Card with Base64 encoded photo
                value:
                  no: "550e8400-e29b-41d4-a716-446655440001"
                  name: "Maria Smirnova"
                  group: "SITE001+A202"
                  begin_at: "2025-02-01T00:00:00Z"
                  end_at: "2026-02-01T23:59:59Z"
                  photo: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAQABADASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAv/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8VAFQEBAQAAAAAAAAAAAAAAAAAAAAX/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwCwAA8A/9k="
      responses:
        201:
          description: Card created successfully
          content:
            application/json:
              schema:
                type: array
                minItems: 1
                maxItems: 1
                items:
                  $ref: "#/components/schemas/Card"
              example:
                - uuid: "a1b2c3d4e5f6g7h8"
                  no: "550e8400-e29b-41d4-a716-446655440000"
                  name: "Ivan Petrov"
                  group: "SITE001+A101"
                  photo: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
                  begin_at: "2025-01-15T00:00:00Z"
                  end_at: "2026-01-15T23:59:59Z"
                  isOK: true
                  isDisabled: false
                  created_at: "2025-01-10T14:30:00Z"
                  updated_at: "2025-01-10T14:30:00Z"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"
        409:
          description: |
            Conflict - Card number (no) already exists or constraint violation.

            PostgREST will return unique constraint violation for duplicate `no` field.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: List or retrieve access cards
      description: |
        Retrieve paginated list of access cards with optional filters.

        **PostgREST Filtering Examples**:
        - Get single by UUID: `?no=eq.550e8400-e29b-41d4-a716-446655440000`
        - Filter by group: `?group=eq.SITE001+A101`
        - Filter by status: `?isDisabled=eq.false`
        - Search by name: `?name=ilike.*Ivan*`
        - Combined: `?and=(group.eq.SITE001+A101,isDisabled.eq.false)`

        **Pagination**:
        - Use `Range` header: `Range: 0-19` (returns items 0-19, total in Content-Range header)
        - Or query params: `?offset=0&limit=20`

        **Sorting**:
        - `?order=created_at.desc` or `?order=name.asc`
      operationId: listCards
      tags:
        - Card Management
      security:
        - BearerAuth: []
      parameters:
        - name: no
          in: query
          description: |
            Filter by card number using PostgREST syntax.
            Example: `no=eq.550e8400-e29b-41d4-a716-446655440000` to get single card
          required: false
          schema:
            type: string
            example: "eq.550e8400-e29b-41d4-a716-446655440000"
        - name: group
          in: query
          description: |
            Filter by group using PostgREST syntax.
            Example: `group=eq.SITE001+A101` or `group=ilike.*A1*`
          required: false
          schema:
            type: string
            example: "eq.SITE001+A101"
        - name: isDisabled
          in: query
          description: Filter by disabled status (eq.true or eq.false)
          required: false
          schema:
            type: string
            enum: ["eq.true", "eq.false"]
        - name: name
          in: query
          description: Search by name (using ilike for case-insensitive contains)
          required: false
          schema:
            type: string
            example: "ilike.*Ivan*"
        - name: order
          in: query
          description: |
            Sort results. Format: `field.asc` or `field.desc`
            Example: `order=created_at.desc` or `order=name.asc`
          required: false
          schema:
            type: string
            example: "created_at.desc"
        - name: offset
          in: query
          description: Pagination offset (for query param pagination)
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: Number of results (for query param pagination, max 100)
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        200:
          description: List of cards
          headers:
            Content-Range:
              description: |
                Format: `items start-end/total`
                Example: `items 0-19/150` means returned items 0-19 out of 150 total
              schema:
                type: string
                example: "items 0-19/150"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Card"
              example:
                - uuid: "a1b2c3d4e5f6g7h8"
                  no: "550e8400-e29b-41d4-a716-446655440000"
                  name: "Ivan Petrov"
                  group: "SITE001+A101"
                  photo: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
                  begin_at: "2025-01-15T00:00:00Z"
                  end_at: "2026-01-15T23:59:59Z"
                  isOK: true
                  isDisabled: false
                  created_at: "2025-01-10T14:30:00Z"
                  updated_at: "2025-01-10T14:30:00Z"
                  deleted_at: null
        401:
          $ref: "#/components/responses/Unauthorized"

    patch:
      summary: Update card information
      description: |
        Update card details using PostgREST PATCH.

        **Request must include filter to identify which card(s) to update**.
        Use `no=eq.{cardNo}` query parameter to target specific card.

        Only provide fields you want to update. Other fields remain unchanged.
      operationId: updateCard
      tags:
        - Card Management
      security:
        - BearerAuth: []
      parameters:
        - name: no
          in: query
          description: Filter by card number (use format `eq.UUID`)
          required: true
          schema:
            type: string
            example: "eq.550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CardUpdateRequest"
            examples:
              updateName:
                summary: Update resident name
                value:
                  name: "Ivan Petrov Jr."
              updatePhoto:
                summary: Update photo
                value:
                  photo: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
              extendValidity:
                summary: Extend card validity
                value:
                  end_at: "2027-01-15T23:59:59Z"
              disableCard:
                summary: Disable card access
                value:
                  isDisabled: true
      responses:
        200:
          description: Card updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Card"
              example:
                - uuid: "a1b2c3d4e5f6g7h8"
                  no: "550e8400-e29b-41d4-a716-446655440000"
                  name: "Ivan Petrov Jr."
                  group: "SITE001+A101"
                  photo: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
                  begin_at: "2025-01-15T00:00:00Z"
                  end_at: "2027-01-15T23:59:59Z"
                  isOK: true
                  isDisabled: false
                  created_at: "2025-01-10T14:30:00Z"
                  updated_at: "2025-01-10T14:35:00Z"
        400:
          $ref: "#/components/responses/BadRequest"
        401:
          $ref: "#/components/responses/Unauthorized"

    delete:
      summary: Delete access card
      description: |
        Soft delete a card (sets deleted_at timestamp).

        **Request must include filter to identify which card to delete**.
        Use `no=eq.{cardNo}` query parameter to target specific card.
      operationId: deleteCard
      tags:
        - Card Management
      security:
        - BearerAuth: []
      parameters:
        - name: no
          in: query
          description: Filter by card number (use format `eq.UUID`)
          required: true
          schema:
            type: string
            example: "eq.550e8400-e29b-41d4-a716-446655440000"
      responses:
        204:
          description: Card deleted successfully (no content)
        401:
          $ref: "#/components/responses/Unauthorized"
        404:
          description: Card not found or already deleted

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token for authentication.

        Include in Authorization header: `Authorization: Bearer TOKEN`

  schemas:
    CardCreateRequest:
      type: object
      required:
        - no
        - name
        - group
        - begin_at
        - end_at
      properties:
        no:
          type: string
          format: uuid
          description: |
            Card number - unique UUID from apartment service provider's system.
            This is the primary identifier linking card to resident.
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Resident's full name
          example: "Ivan Petrov"
        group:
          type: string
          pattern: "^[a-zA-Z0-9_-]+\\+[a-zA-Z0-9_-]+$"
          description: |
            Card group - format: `site_id+apartment_number`
            Examples: SITE001+A101, BUILDING_A+202, COMPLEX_1+UNIT_501
          example: "SITE001+A101"
        begin_at:
          type: string
          format: date-time
          description: Card validity start date (ISO 8601, must be before end_at)
          example: "2025-01-15T00:00:00Z"
        end_at:
          type: string
          format: date-time
          description: Card validity end date (ISO 8601, must be after begin_at)
          example: "2026-01-15T23:59:59Z"
        photo:
          type: string
          description: |
            Face photo in Base64 format (optional).

            Supported formats: JPEG, PNG
            Recommended: 640x480 or larger
            Max size: 5MB (when decoded)
            Format: data:image/jpeg;base64,... or data:image/png;base64,...
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
          nullable: true

    CardUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Update resident name
          example: "Ivan Petrov Jr."
        begin_at:
          type: string
          format: date-time
          description: Update card validity start date
          example: "2025-01-15T00:00:00Z"
        end_at:
          type: string
          format: date-time
          description: Update card validity end date
          example: "2027-01-15T23:59:59Z"
        isDisabled:
          type: boolean
          description: |
            Disable/enable card access.
            true = card access disabled
            false = card access enabled (if not expired)
          example: false
        photo:
          type: string
          description: |
            Update face photo in Base64 format.

            Supported formats: JPEG, PNG
            Max size: 5MB (when decoded)
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
          nullable: true

    Card:
      type: object
      properties:
        uuid:
          type: string
          description: Internal unique identifier (16 characters, auto-generated)
          example: "a1b2c3d4e5f6g7h8"
        no:
          type: string
          format: uuid
          description: Card number - UUID from apartment service provider's system
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Resident's full name
          example: "Ivan Petrov"
        group:
          type: string
          description: Card group (site_id+apartment_number)
          example: "SITE001+A101"
        photo:
          type: string
          nullable: true
          description: |
            Face photo in Base64 format or null if not provided.
            Sent as: data:image/jpeg;base64,... or data:image/png;base64,...
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBD..."
        begin_at:
          type: string
          format: date-time
          description: Card validity start date
          example: "2025-01-15T00:00:00Z"
        end_at:
          type: string
          format: date-time
          description: Card validity end date
          example: "2026-01-15T23:59:59Z"
        isOK:
          type: boolean
          readOnly: true
          description: |
            Readonly field - system computes this value.
            true if: card is not disabled AND not deleted AND current date is between begin_at and end_at
            false if: card is disabled OR deleted OR outside validity period
          example: true
        isDisabled:
          type: boolean
          description: |
            Card access disabled status.
            true = access denied
            false = access allowed (if not expired and not deleted)
          example: false
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Card creation timestamp (auto-set by system)
          example: "2025-01-10T14:30:00Z"
        updated_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
          description: Card last update timestamp (auto-updated by system)
          example: "2025-01-10T14:30:00Z"
        deleted_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
          description: Card deletion timestamp (soft delete - null if not deleted)
          example: null

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message from PostgREST
          example: 'Duplicate key value violates unique constraint "uk_no"'
        code:
          type: string
          description: HTTP status code
          example: "23505"
        details:
          type: string
          nullable: true
          description: Additional error details
          example: "Key (no)=(550e8400-e29b-41d4-a716-446655440000) already exists."
        hint:
          type: string
          nullable: true
          description: PostgreSQL hint for the error
          example: null

  responses:
    BadRequest:
      description: |
        Bad request - validation failed or invalid parameters.
        PostgREST returns database constraint violations.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "Invalid timestamp format"
            code: "22007"
            details: "invalid input syntax for type timestamp"

    Unauthorized:
      description: |
        Authentication failed - missing or invalid JWT token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: "JWT invalid"
            code: "401"

tags:
  - name: Card Management
    description: |
      CRUD operations for access cards.

      All requests require valid JWT authentication.
      The endpoint is `/cards`.
