openapi: 3.0.3
info:
  title: Elpass Card Management API
  description: Integration API for apartment service providers to manage resident access cards synchronized with Hikvision and Dahua terminals
  version: 1.0.0

servers:
  - url: https://api.elpass.uz

security:
  - BearerAuth: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      x-code-samples:
        - lang: curl
          source: |
            curl https://api.elpass.uz/health
      responses:
        "200":
          description: Сервис работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
              example:
                success: true
                message: "Service is healthy"
                timestamp: "2026-05-14T12:00:00.000Z"

  /api/cards:
    get:
      summary: Список карт
      description: Получение списка карт с фильтрацией и пагинацией
      x-code-samples:
        - lang: curl
          source: |
            curl https://api.elpass.uz/api/cards?page=1&size=20&name=Ivan \
              -H "Authorization: Bearer YOUR_TOKEN"
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Фильтр по имени (частичное совпадение)
        - name: group
          in: query
          schema:
            type: string
          description: Фильтр по группе
        - name: created_at
          in: query
          schema:
            type: string
          description: Фильтр по дате создания
        - name: page
          in: query
          schema:
            type: integer
          description: Номер страницы
        - name: size
          in: query
          schema:
            type: integer
          description: Размер страницы
        - name: showDeletedCards
          in: query
          schema:
            type: string
            enum: ["true"]
          description: Включить удалённые карты
        - name: propertyGuid
          in: query
          schema:
            type: string
          description: GUID объекта недвижимости
      responses:
        "200":
          description: Список карт
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  cards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Card"
                  total:
                    type: integer
              example:
                success: true
                total: 42
                cards:
                  - uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    no: "123456789012"
                    name: "Ivan Petrov"
                    photo: "SITE001/123456789012.jpg"
                    isBlocked: false
                    begin_at: "2026-01-01T00:00:00Z"
                    end_at: "2036-01-01T00:00:00Z"
                    isOK: true
                    meta_:
                      passType: "permanent"
                      zones: ["1", "2"]
                      entranceNumber: "1"
                      objectGuid: "abc12345-def6-7890-ghij-klmnopqrstuv"

    post:
      summary: Создание карты
      description: Создание новой карты доступа с опциональным фото
      x-code-samples:
        - lang: curl
          label: Создание постоянного резидента
          source: |
            curl -X POST https://api.elpass.uz/api/cards \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -F "name=Ivan Petrov" \
              -F "no=123456789012" \
              -F "objectGuid=abc12345-def6-7890-ghij-klmnopqrstuv" \
              -F "photo=@/path/to/photo.jpg" \
              -F "entranceNumber=1" \
              -F "group=SITE001" \
              -F "begin_at=2026-01-01T00:00:00Z" \
              -F "end_at=2036-01-01T00:00:00Z"
        - lang: curl
          label: Создание гостевого пропуска
          source: |
            curl -X POST https://api.elpass.uz/api/cards \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -F "name=Guest User" \
              -F "no=987654321098" \
              -F "passType=guest" \
              -F "objectGuid=abc12345-def6-7890-ghij-klmnopqrstuv" \
              -F "entranceNumber=1" \
              -F "end_at=2026-05-20T23:59:59Z"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - no
              properties:
                name:
                  type: string
                  description: Имя владельца карты
                no:
                  type: string
                  description: Номер карты / ИИН (макс. 32 символа, макс. 20 для физической карты). Неизменяемое поле
                photo:
                  type: string
                  format: binary
                  description: Фото (обязательно для passType != "guest", если не физическая карта)
                begin_at:
                  type: string
                  format: date-time
                  description: Начало действия (по умолчанию — сейчас)
                end_at:
                  type: string
                  format: date-time
                  description: Окончание действия (по умолчанию +10 лет, обязательно для guest)
                passType:
                  type: string
                  enum: [permanent, guest, blocked]
                  default: permanent
                zones:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: Зоны доступа (по умолчанию ["all"])
                group:
                  type: string
                  description: Группа / подпапка для фото
                entranceNumber:
                  type: string
                  description: Номер подъезда
                guid:
                  type: string
                  description: GUID резидента
                type:
                  type: string
                  description: Тип записи
                uuid:
                  type: string
                  description: UUID резидента
                flatno:
                  type: string
                  description: Номер квартиры
                objectGuid:
                  type: string
                  description: GUID объекта (обязательно для host=bigapp)
                objectName:
                  type: string
                  description: Название объекта
                propertyGuid:
                  type: string
                  description: GUID объекта недвижимости
                meta:
                  type: string
                  description: "JSON строка с доп. данными: complexName, complexId, entrance, apartment, floor"
      responses:
        "200":
          description: Карта создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  uuid:
                    type: string
                  no:
                    type: string
                  photoPath:
                    type: string
                  pin:
                    type: string
                    description: 6-значный PIN (только для passType=guest)
                  syncStatus:
                    $ref: "#/components/schemas/SyncStatus"
                  error:
                    type: string
              examples:
                permanent:
                  summary: Постоянный резидент
                  value:
                    success: true
                    uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    no: "123456789012"
                    photoPath: "SITE001/123456789012.jpg"
                    syncStatus:
                      card:
                        success: true
                        operations:
                          - terminalName: "Entrance 1 - HIK"
                            operation: "create"
                            success: true
                      photo:
                        success: true
                        operations:
                          - terminalName: "Entrance 1 - HIK"
                            operation: "create"
                            success: true
                guest:
                  summary: Гостевой пропуск (с PIN)
                  value:
                    success: true
                    uuid: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    no: "987654321098"
                    pin: "482916"
                    syncStatus:
                      card:
                        success: true
                        operations:
                          - terminalName: "Entrance 1 - HIK"
                            operation: "create"
                            success: true
        "400":
          description: Ошибка валидации
          content:
            application/json:
              example:
                success: false
                error: "Name and card number (no) are required"
        "500":
          description: Внутренняя ошибка

  /api/cards/{uuid}:
    patch:
      summary: Обновление карты
      description: |
        Обновление данных карты. Номер карты (no) изменить нельзя.
        При изменении зон автоматически пересинхронизируется фото.
      x-code-samples:
        - lang: curl
          label: Обновление имени и фото
          source: |
            curl -X PATCH https://api.elpass.uz/api/cards/a1b2c3d4-e5f6-7890-abcd-ef1234567890 \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -F "name=Ivan Petrov Updated" \
              -F "photo=@/path/to/new-photo.jpg"
        - lang: curl
          label: Изменение зон доступа
          source: |
            curl -X PATCH https://api.elpass.uz/api/cards/a1b2c3d4-e5f6-7890-abcd-ef1234567890 \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -F "zones=[\"1\", \"2\", \"3\"]"
        - lang: curl
          label: Блокировка карты
          source: |
            curl -X PATCH https://api.elpass.uz/api/cards/a1b2c3d4-e5f6-7890-abcd-ef1234567890 \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -F "passType=blocked"
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                photo:
                  type: string
                  format: binary
                zones:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                entranceNumber:
                  type: string
                begin_at:
                  type: string
                  format: date-time
                end_at:
                  type: string
                  format: date-time
                passType:
                  type: string
                  enum: [permanent, guest, blocked]
                group:
                  type: string
                isDisabled:
                  type: boolean
                guid:
                  type: string
                type:
                  type: string
                uuid:
                  type: string
                flatno:
                  type: string
                objectGuid:
                  type: string
                objectName:
                  type: string
                meta:
                  type: string
      responses:
        "200":
          description: Карта обновлена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  uuid:
                    type: string
                  photoPath:
                    type: string
                  pin:
                    type: string
                    description: PIN (только если passType сменился на guest и PIN не был задан)
                  syncStatus:
                    $ref: "#/components/schemas/SyncStatus"
                  error:
                    type: string
              example:
                success: true
                uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                photoPath: "SITE001/123456789012.jpg"
                syncStatus:
                  card:
                    success: true
                    operations:
                      - terminalName: "Entrance 1 - HIK"
                        operation: "update"
                        success: true
                  photo:
                    success: true
                    operations:
                      - terminalName: "Entrance 1 - HIK"
                        operation: "update"
                        success: true
        "400":
          description: Попытка изменить номер карты
          content:
            application/json:
              example:
                success: false
                error: "Card number (no) cannot be changed"
        "404":
          description: Карта не найдена
          content:
            application/json:
              example:
                success: false
                error: "Card not found"

    delete:
      summary: Удаление карты
      description: Soft delete — карта помечается как удалённая и удаляется с терминалов
      x-code-samples:
        - lang: curl
          source: |
            curl -X DELETE https://api.elpass.uz/api/cards/a1b2c3d4-e5f6-7890-abcd-ef1234567890 \
              -H "Authorization: Bearer YOUR_TOKEN"
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Карта удалена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  uuid:
                    type: string
                  syncStatus:
                    $ref: "#/components/schemas/SyncStatus"
                  error:
                    type: string
              example:
                success: true
                uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                syncStatus:
                  card:
                    success: true
                    operations:
                      - terminalName: "Entrance 1 - HIK"
                        operation: "delete"
                        success: true
                      - terminalName: "Entrance 2 - Dahua"
                        operation: "delete"
                        success: true

  /api/cards/{uuid}/sync:
    post:
      summary: Синхронизация карты
      description: |
        Принудительная синхронизация карты и фото со всеми терминалами.
        Если isOK=true, синхронизация пропускается.
        Lock-механизм предотвращает параллельные запросы на одну карточку.
      x-code-samples:
        - lang: curl
          source: |
            curl -X POST https://api.elpass.uz/api/cards/a1b2c3d4-e5f6-7890-abcd-ef1234567890/sync \
              -H "Authorization: Bearer YOUR_TOKEN"
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Результат синхронизации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  syncStatus:
                    $ref: "#/components/schemas/SyncStatus"
                  error:
                    type: string
              example:
                success: true
                syncStatus:
                  card:
                    success: true
                    operations:
                      - terminalName: "Entrance 1 - HIK"
                        operation: "update"
                        success: true
                      - terminalName: "Entrance 2 - Dahua"
                        operation: "update"
                        success: true
                  photo:
                    success: true
                    operations:
                      - terminalName: "Entrance 1 - HIK"
                        operation: "update"
                        success: true
                      - terminalName: "Entrance 2 - Dahua"
                        operation: "update"
                        success: true
        "404":
          description: Карта не найдена
        "400":
          description: Ошибка синхронизации

  /api/cards/sync-batch:
    post:
      summary: Пакетная синхронизация
      description: |
        Синхронизация нескольких карт. Требуется один из фильтров: uuids, group_id, zone или objectGuid+guid.

        **Режим бронирования** активируется при наличии objectGuid — позволяет добавлять/удалять зоны без полной пересинхронизации.
      x-code-samples:
        - lang: curl
          label: По списку UUID
          source: |
            curl -X POST https://api.elpass.uz/api/cards/sync-batch \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
                "uuids": ["a1b2c3d4-e5f6-7890-abcd-ef1234567890", "b2c3d4e5-f6a7-8901-bcde-f12345678901"],
                "begin_at": "2026-01-01T00:00:00Z",
                "end_at": "2026-12-31T23:59:59Z"
              }'
        - lang: curl
          label: По группе
          source: |
            curl -X POST https://api.elpass.uz/api/cards/sync-batch \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
                "group_id": "SITE001"
              }'
        - lang: curl
          label: Booking mode — добавить зону
          source: |
            curl -X POST https://api.elpass.uz/api/cards/sync-batch \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
                "objectGuid": "abc12345-def6-7890-ghij-klmnopqrstuv",
                "guid": "resident-guid-123",
                "zone": "3",
                "begin_at": "2026-06-01T00:00:00Z",
                "end_at": "2026-06-15T23:59:59Z"
              }'
        - lang: curl
          label: Booking mode — удалить зону
          source: |
            curl -X POST https://api.elpass.uz/api/cards/sync-batch \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
                "objectGuid": "abc12345-def6-7890-ghij-klmnopqrstuv",
                "guid": "resident-guid-123",
                "deleteZone": "3"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uuids:
                  type: array
                  items:
                    type: string
                  maxItems: 100
                  description: UUID карт для синхронизации
                group_id:
                  type: string
                  description: Фильтр по группе
                zone:
                  type: string
                  description: Фильтр по зоне / зона для добавления (booking mode)
                objectGuid:
                  type: string
                  description: GUID объекта (активирует booking mode)
                guid:
                  type: string
                  description: GUID резидента (обязательно с objectGuid)
                deleteZone:
                  type: string
                  description: Зона для удаления (только booking mode)
                begin_at:
                  type: string
                  format: date-time
                  description: Переопределить начало действия
                end_at:
                  type: string
                  format: date-time
                  description: Переопределить окончание действия
            examples:
              by_uuids:
                summary: По списку UUID
                value:
                  uuids: ["a1b2c3d4-e5f6-7890-abcd-ef1234567890", "b2c3d4e5-f6a7-8901-bcde-f12345678901"]
                  begin_at: "2026-01-01T00:00:00Z"
                  end_at: "2026-12-31T23:59:59Z"
              by_group:
                summary: По группе
                value:
                  group_id: "SITE001"
              booking_add:
                summary: Booking — добавить зону
                value:
                  objectGuid: "abc12345-def6-7890-ghij-klmnopqrstuv"
                  guid: "resident-guid-123"
                  zone: "3"
                  begin_at: "2026-06-01T00:00:00Z"
                  end_at: "2026-06-15T23:59:59Z"
              booking_remove:
                summary: Booking — удалить зону
                value:
                  objectGuid: "abc12345-def6-7890-ghij-klmnopqrstuv"
                  guid: "resident-guid-123"
                  deleteZone: "3"
      responses:
        "200":
          description: Результат пакетной синхронизации
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      succeeded:
                        type: integer
                      failed:
                        type: integer
                      skipped:
                        type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                        success:
                          type: boolean
                        status:
                          type: object
                        error:
                          type: string
                  error:
                    type: string
              example:
                success: true
                summary:
                  total: 2
                  succeeded: 2
                  failed: 0
                  skipped: 0
                results:
                  - uuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    success: true
                    status:
                      card:
                        success: true
                        operations:
                          - terminalName: "Entrance 1 - HIK"
                            operation: "update"
                            success: true
                  - uuid: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    success: true
                    status:
                      card:
                        success: true
                        operations:
                          - terminalName: "Entrance 1 - HIK"
                            operation: "update"
                            success: true
        "400":
          description: Ошибка валидации
          content:
            application/json:
              example:
                success: false
                error: "At least one filter is required: uuids, group_id, zone, or objectGuid+guid"

  /api/cards/restore-terminal:
    post:
      summary: Восстановление терминала
      description: Загружает все карты из БД на указанный терминал. Используется после сброса терминала
      x-code-samples:
        - lang: curl
          source: |
            curl -X POST https://api.elpass.uz/api/cards/restore-terminal \
              -H "Authorization: Bearer YOUR_TOKEN" \
              -H "Content-Type: application/json" \
              -d '{
                "terminalId": "terminal-uuid-123"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - terminalId
              properties:
                terminalId:
                  type: string
                  description: UUID терминала
            example:
              terminalId: "terminal-uuid-123"
      responses:
        "200":
          description: Результат восстановления
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  terminal:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      zone:
                        type: string
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      succeeded:
                        type: integer
                      failed:
                        type: integer
                      skipped:
                        type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        cardUuid:
                          type: string
                        cardNo:
                          type: string
                        cardSuccess:
                          type: boolean
                        cardError:
                          type: string
                        photoSuccess:
                          type: boolean
                        photoError:
                          type: string
                        skipped:
                          type: boolean
                  error:
                    type: string
              example:
                success: true
                terminal:
                  id: "terminal-uuid-123"
                  name: "Entrance 1 - HIK"
                  zone: "1"
                summary:
                  total: 15
                  succeeded: 14
                  failed: 1
                  skipped: 0
                results:
                  - cardUuid: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    cardNo: "123456789012"
                    cardSuccess: true
                    photoSuccess: true
                    skipped: false
                  - cardUuid: "b2c3d4e5-f6a7-8901-bcde-f12345678901"
                    cardNo: "987654321098"
                    cardSuccess: true
                    photoSuccess: false
                    photoError: "Photo not found on pic server"
                    skipped: false

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Card:
      type: object
      properties:
        id:
          type: string
        uuid:
          type: string
        no:
          type: string
          description: Номер карты / ИИН (неизменяемое)
        name:
          type: string
        photo:
          type: string
          description: Путь к фото на pic-сервере
        isBlocked:
          type: boolean
        isDisabled:
          type: boolean
        begin_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
        group:
          type: string
        host:
          type: string
        isOK:
          type: boolean
          nullable: true
          description: "true = синхронизирована, false/null = требует синхронизации"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        meta_:
          type: object
          properties:
            pin:
              type: string
              description: 6-значный PIN (для гостей)
            passType:
              type: string
              enum: [permanent, guest, blocked]
            zones:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            entranceNumber:
              type: string
            objectGuid:
              type: string
            objectName:
              type: string
            propertyGuid:
              type: string
            guid:
              type: string
            flatno:
              type: string
            type:
              type: string
            uuid:
              type: string

    SyncStatus:
      type: object
      properties:
        card:
          type: object
          properties:
            success:
              type: boolean
            operations:
              type: array
              items:
                $ref: "#/components/schemas/OperationResult"
        photo:
          type: object
          properties:
            success:
              type: boolean
            operations:
              type: array
              items:
                $ref: "#/components/schemas/OperationResult"

    OperationResult:
      type: object
      properties:
        terminalName:
          type: string
        operation:
          type: string
          enum: [create, update, delete, skip]
        success:
          type: boolean
        error:
          type: string
